


    <%-include("partials/header.ejs")%>
    <h1>hello</h1>
    <form action="/submit" method="post">
        <input type="text" name ="topic" placeholder="Topic name"><br>
        <input type="text" name ="author" placeholder="Author name"><br>
        <textarea name="post" id="post1" rows="20" cols="79"></textarea><br>
        <input type="submit" value="oka">
    </form>
    <%- include("partials/footer.ejs") %>
   
    
